<div class="container-fluid">
        <div class="row">
            <div class="col bg-dark text-white">
                <a class="col-2">
                    <img alt="Volkswagen group" src="./assets/vw.png" height="60" width="100" >
                </a>
                <a class="navbar-brand" >
                    Volkswagen Store
                </a>
            </div>
        </div>
        <div *ngIf="orderSent" class="m-2 text-center">
            <h2>Thanks!</h2>
            <p>thanks for shopping with us!</p>
            <button class="btn btn-outline-primary" routerLink="/store">
                Return to Store
            </button>
        </div>
        <form *ngIf="!orderSent" #form="ngForm" novalidate
                (ngSubmit)="submitOrder(form)" class="m-2">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" #name="ngModel" name="name"
                        [(ngModel)] = "order.name" required />
                <span *ngIf="submitted && name.invalid" class="text-danger">
                    Please enter your name
                </span>
            </div>
            <div  class="text-center">
             <button class="btn btn-warning m-1" routerLink="/cart>">
                Back
            </button>
            <button class="btn btn-outline-primary m-2" type="submit">
                Complete Order
            </button>
            </div>
                
        </form>
</div>