<div class="container-fluid">
    <div class="row">
        <div class="col bg-dark text-white">
            <a class="col-2">
                <img alt="Volkswagen group" src="./assets/vw.png" height="60" width="100" >
            </a>
            <a class="navbar-brand" >
                Volkswagen Store
            </a>
            <app-cart-summary></app-cart-summary>
        </div>
    </div>
    <div class="row bg-light">
        <div class="col-3 p-2 text-center" style="margin-top: 8px">
           <button class="btn btn-block btn-outline-success"
                [class.active]="selectedCategory == null"
                (click)="changeCategory()">
                Home
            </button>
            <button *ngFor="let category of categories"
                    [class.active]="category == selectedCategory"
                    (click)="changeCategory(category)"
                    class="btn btn-block btn-outline-success">
                {{ category }}
            </button>   
        </div>
        <div class="col-9 p-2">
            <div *ngFor="let product of products" 
            class="card m-1 p-1" style="opacity: 1">
                <h4>
                    {{ product.name | uppercase }}
                    <span class="badge badge-pill badge-success float-right">
                        {{ product.price | currency: "INR"}}
                    </span>
                </h4>
                <div class="card-text bg-white p-1">
                    {{ product.description }}
                    <button class="btn btn-outline-primary btn-sm float-right"
                    (click)="addProductToCart(product)">
                        add to cart
                    </button>
                </div>
            </div>
            <div class="card form-inline float-right mr-1 bg-white" style="opacity: 0.7">
                <select class="form-control" 
                [value]="productsPerPage"
                (change)="changePageSize($event.target.value)">
                    <option value="3">3 per page</option>
                    <option value="4">4 per page</option>
                    <option value="6">6 per page</option>
                    <option value="8">8 per page</option>
                </select>
            </div>
            <div class="btn-group float-right mr-1 bg-white">
                <button *ngFor="let page of pageNumbers" 
                        (click)="changePage(page)"
                        class="btn btn-outline-success"
                        [class.active]="page==selectedPage">
                    {{ page }}
                </button>
            </div>
        </div>
    </div>
</div>
